# git ignore list

# git rm -r --cached .
# git add .
# git commit -m "removed cached"

variableFile.txt
variableFile.py

package/

*.ipynb
*try.py

# 임시 숨김 파일 (피드사이트 우선순위 아닌 것들)
Bright*
Joe*
Syman*
Triage*